* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font: 6.6rem/7.5rem "Raleway", sans-serif;
  margin: 0 0 50px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font: 4rem/4.8rem "Raleway", sans-serif;
  margin: 0 0 40px;
  font-weight: 600;
  color: #7b6c63;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font: 2.4rem/3rem "Raleway", sans-serif;
  margin: 0 0 35px;
  font-weight: 500;
  color: #7b6c63;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font: 1.8rem/3rem "Raleway", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #363636;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h4.footer-heading {
  font: 1.8rem/2.5rem "Raleway", sans-serif;
  letter-spacing: 2px;
}

h5 {
  font: 1.4rem/2.4rem "Raleway", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  font: 1.4rem/2.4rem "Raleway", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:active, a:hover {
  color: #ffffff;
}

p, ul, ol, dl, table, hr, pre, blockquote {
  margin: 0 0 30px;
  line-height: 3rem;
}

textarea {
  resize: none;
  height: 150px;
}

section {
  padding: 80px 0px;
}

.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.container-narrow {
  width: 100%;
  max-width: 1030px;
  padding: 0 30px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.main-text {
  font-size: 1.8rem;
}

.secondary-text {
  line-height: 2.4rem;
}

.footer-text {
  font-size: 14px;
  line-height: 2.4rem;
}

.btn {
  display: inline-block;
  width: 170px;
  height: 50px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  text-transform: uppercase;
}
.btn-showcase {
  width: 265px;
  height: 60px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
}
.btn-submit {
  width: 170px;
  height: 45px;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 500;
}
.btn i {
  margin-left: 10px;
}

.bottom-line {
  position: relative;
  padding-bottom: 40px;
}
.bottom-line::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 76px;
  height: 3px;
  background: #7b6c63;
}

.section-lead,
.section-lead-small {
  text-align: center;
  margin-bottom: 80px;
}

.section-lead p {
  max-width: 500px;
  margin: auto;
  font-size: 18px;
}

header {
  position: relative;
}

nav {
  background-color: rgba(48, 48, 48, 0.5);
  transition: background-color 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition-delay: 0.2s;
}

.logo {
  transition: 0.4s;
  transition-delay: 0.2s;
  height: 38px;
  transform: scale(0.8);
}

.logo img {
  height: 100%;
}

.nav-logo {
  color: #ffffff;
}

.nav-wrapper {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  transition-delay: 0.2s;
}

.nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 22px;
  position: relative;
}
.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #7b6c63;
}

.showcase {
  min-height: 754px;
}

.showcase::after {
  content: "XXXXXXXxx";
  position: absolute;
  top: -95px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../img/showcase-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -3;
}

.showcase-wrapper {
  min-height: 674px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.showcase-lead {
  display: inline-block;
  font-size: 2.4rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 15px;
}

.lead {
  color: #7b6c63;
}

.about-wrapper {
  padding: 80px 0;
  position: relative;
  background-color: #f5f5f5;
}

.about-wrapper .text-content {
  width: 50%;
}

.img-div {
  background-image: url("https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
}

.cover-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  transform-origin: top left;
  transform: rotate(70deg);
  background-color: #f5f5f5;
}

.services p {
  max-width: 1030px;
}

.services-wrapper {
  display: flex;
}

.services-wrapper .service-box {
  text-align: center;
  width: calc(100% / 3);
  padding: 0 30px;
}

.service-box i {
  height: 30px;
}

.flex-wrapper {
  display: flex;
  flex-flow: wrap;
}

.single-chart {
  width: 20%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #000;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1;
}

.circle {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

/*# sourceMappingURL=output.css.map */
