* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font: 6.6rem/7.5rem "Raleway", sans-serif;
  margin: 0 0 50px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font: 4rem/4.8rem "Raleway", sans-serif;
  margin: 0 0 40px;
  font-weight: 600;
  color: #7b6c63;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font: 2.4rem/3rem "Raleway", sans-serif;
  margin: 0 0 35px;
  font-weight: 500;
  color: #7b6c63;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font: 1.8rem/3rem "Raleway", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #363636;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h4.footer-heading {
  font: 1.8rem/2.5rem "Raleway", sans-serif;
  letter-spacing: 2px;
}

h5 {
  font: 1.4rem/2.4rem "Raleway", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  font: 1.4rem/2.4rem "Raleway", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:active, a:hover {
  color: #ffffff;
}

p, ul, ol, dl, table, hr, pre, blockquote {
  margin: 0 0 30px;
  line-height: 3rem;
}

textarea {
  resize: none;
  height: 150px;
}

section {
  padding: 80px 0px;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  border-left: 1px solid green;
  border-right: 1px solid green;
}

.container-narrow {
  width: 100%;
  max-width: 1030px;
  padding: 0 30px;
  margin: 0 auto;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}

.container-small {
  width: 100%;
  max-width: 630px;
  padding: 0 30px;
  margin: 0 auto;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.row-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  justify-content: center;
}
.row-wrapper.small-gap {
  margin-left: -30px;
}
.row-wrapper.small-gap > div[class^=col] {
  padding-left: 30px;
}
.row-wrapper.no-gap {
  margin-left: 0px;
}
.row-wrapper.no-gap > div[class^=col] {
  padding-left: 0px;
}

.col-1-3 {
  padding-left: 60px;
  width: calc(100% / 3);
  margin-bottom: 30px;
}
@media (max-width: 720px) {
  .col-1-3 {
    width: 100%;
  }
}

.col-1-4 {
  padding-left: 60px;
  width: 25%;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .col-1-4 {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .col-1-4 {
    width: 100%;
  }
}

.col-1-5 {
  padding-left: 60px;
  width: 20%;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .col-1-5 {
    width: calc(100% / 3);
  }
}
@media (max-width: 480px) {
  .col-1-5 {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.main-text {
  font-size: 1.8rem;
}

.secondary-text {
  line-height: 2.4rem;
}

.footer-text {
  font-size: 14px;
  line-height: 2.4rem;
}

.btn {
  display: inline-block;
  width: 170px;
  height: 50px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  text-transform: uppercase;
}
.btn-showcase {
  width: 265px;
  height: 60px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
}
.btn-submit {
  width: 170px;
  height: 45px;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 500;
}
.btn i {
  margin-left: 10px;
}

.bottom-line {
  position: relative;
  padding-bottom: 40px;
}
.bottom-line::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 76px;
  height: 6px;
  background: #7b6c63;
}
.bottom-line-small {
  position: relative;
  padding-bottom: 20px;
}
.bottom-line-small::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 4px;
  background: #ffffff;
}

.section-lead {
  text-align: center;
  margin-bottom: 80px;
  font-size: 18px;
}

header {
  position: relative;
}

nav {
  background-color: rgba(48, 48, 48, 0.5);
  transition: background-color 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition-delay: 0.2s;
}

.logo {
  transition: 0.4s;
  transition-delay: 0.2s;
  height: 38px;
  transform-origin: top left;
}

.logo img {
  height: 100%;
}

.nav-logo {
  color: #ffffff;
}

.nav-wrapper {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  transition-delay: 0.2s;
}

.nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 22px;
  position: relative;
}
.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #7b6c63;
}
.nav-link:last-child {
  margin-right: 0;
}

.showcase {
  min-height: 754px;
}

.showcase::after {
  content: "XXXXXXXxx";
  position: absolute;
  top: -95px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../img/showcase-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -3;
}

.showcase-wrapper {
  min-height: 674px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.showcase-lead {
  display: inline-block;
  font-size: 2.4rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 15px;
}

.lead {
  color: #7b6c63;
}

.about-wrapper {
  padding: 80px 0;
  position: relative;
  background-color: #f5f5f5;
}

.about-wrapper .text-content {
  width: 50%;
}

.img-div {
  background-image: url(../img/content-img.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
}

.cover-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  transform-origin: top left;
  transform: rotate(70deg);
  background-color: #f5f5f5;
}

.services .section-lead {
  font-size: 16px;
}
.services .icon-div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.services .icon-div .icon {
  height: 30px;
}
.services .col-1-3 {
  text-align: center;
}

.single-chart {
  width: auto;
}

.circular-chart {
  display: block;
  max-width: 80%;
  max-height: 250px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #000;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1;
}

.circle {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.skill-name {
  text-transform: capitalize;
  text-align: center;
}

.portfolios .aspect {
  width: 25%;
  padding-top: 20%;
  /* Aspect Ratio */
  position: relative;
}
@media (max-width: 1200px) {
  .portfolios .aspect {
    width: 50%;
    padding-top: 40%;
  }
}
@media (max-width: 720px) {
  .portfolios .aspect {
    width: 100%;
    padding-top: 80%;
  }
}

.portfolios .col-1-4 {
  margin-bottom: 0;
  background: url("https://images.unsplash.com/photo-1561831807-31cd5a0b78fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80") no-repeat center center/cover;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.hover-div {
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.hover-div-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.hover-div-inner:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0.5;
  transform: scale(2.5) translateX(-75%) translateY(-75%) rotate(-40deg);
  transition: transform 1.5s cubic-bezier(0.2, 1, 0.6, 1);
  background-color: black;
}

.hover-div:hover .hover-div-inner:after {
  transform: scale(2.5) translateX(0) translateY(0) rotate(-40deg);
}

.text-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  transform: translateY(-100%);
  transition: all 1.5s cubic-bezier(0.2, 1, 0.6, 1);
  transition-delay: 0.2s;
  opacity: 0;
}

.text-div > * {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.text-div h4 {
  margin-bottom: 20px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 500;
}

.text-div p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 300;
}

.hover-div:hover .text-div {
  transform: translateY(0%);
  opacity: 1;
}

/*# sourceMappingURL=output.css.map */
